.headerButtons {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: nowrap;
}

.headerButtons button {
  display: border-box;
  font: inherit;
  cursor: pointer;
  background-color: transparent;
  border: 3px solid #3c0d00;
  padding: 0.4rem 1.5rem;
  border-radius: 5px;
  text-decoration: none;
  color: white;
  font-weight: bold;
}

.headerButtons button:hover,
.headerButtons button:active {
  background-color: #3c0d00;
  border-color: #3c0d00;
  color: white;
}

a {
  text-decoration: none;
  color: white;
  font-weight: bold;
}

.profile {
  padding: 0.8rem 0 0rem 1.2rem;
}