@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@400;700&display=swap');

* {
  box-sizing: border-box;
}

html {
  font-family: 'Noto Sans JP', sans-serif;
}

body {
  margin: 0;
  background-color: var(--main-bg-color);
}

:root {
  --main-bg-color: white;
  --background-header: #8a2b06;
  --background-meals: white;
  --background-summary: grey;
  --text-primary: black;
  --text-summary: white;
}

[data-theme='dark'] {
  --main-bg-color: grey;
  --background-header: #641e03;
  --background-meals: #383838;
  --background-summary: #383838;
  --text-primary: white;
  /* --text-summary: black; */
}

